html {
    height: 100%;
}

body {
    font-family: Monaco, monospace;
    background-image: linear-gradient(to bottom right, #0021A7, #AB0092);
}

.text {
    color: white;
}

h2 {
    color: white;
    text-align: right;
}

.chat-container {
    margin-left: auto; 
    margin-right: 0;
    width: 300px;
    height: 620px;
    overflow-y: scroll;
    background-color: white;
}

.send-container {
    text-align: right;
    margin-top: 5px;
}

#canvas {
    border:1px solid #000000;
    width: 720px;
    height: 720px;
    float: left;
    margin-left: 20px;
}

#input {
    float: left;
    margin-left: 60px;
    padding-top: 0;
    padding-bottom: 0;
}

#inventory {
    float: left;
    height: 720px;
    width: 300px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
    margin-left: 60px;
}

.left {
    padding-left: 30px;
}

.right {
    padding-right: 30px;
    float: right;
}

.picleft {
    width: 32px;
    height: 32px;
    margin-left: 60px;
    opacity: 0;
}

.picright {
    width: 32px;
    height: 32px;
    margin-right: 60px;
    float: right;
    opacity: 0;
}

.spanleft {
    text-align: left;
    padding-left: 60px;
}

.spanright {
    float: right;
    text-align: right;
}

.gameMap {
    position:absolute;
    z-index:-3;
}

.monster {
    position:absolute;
    z-index:-2;
}

.mapCover {
    position:absolute;
    z-index:-1;
}
.items{
    height: 12px;
    width: 12px;
    background-color: #FFD700;
    border-radius: 100%;
    display: inline-block;
  }
.chest{
    height: 12px;
    width: 12px;
    background-color: #964B00;
    border-radius: 100%;
    display: inline-block;
}
.npc{
    height: 12px;
    width: 12px;
    background-color: #0f0cc5;
    border-radius: 100%;
    display: inline-block;
}
.sign{
    height: 12px;
    width: 12px;
    background-color: #f0951d;
    border-radius: 100%;
    display: inline-block;
}
.tree{
    height: 12px;
    width: 12px;
    background-color: #054709;
    border-radius: 100%;
    display: inline-block;
}
.altar{
    height: 12px;
    width: 12px;
    background-color: #4b4846;
    border-radius: 100%;
    display: inline-block;
}
.pentagramm{
    height: 12px;
    width: 12px;
    background-color: #cc0707;
    border-radius: 100%;
    display: inline-block;
}
.gate{
    height: 12px;
    width: 12px;
    background-color: #181513;
    border-radius: 100%;
    display: inline-block;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #ff4d4d;
  color: #ff4d4d;
}
